@import "./utility-vars";
@import "./defaultism";

body {
  background: $grey-1-6;
}

#app {
  .header-bg {
    position: absolute;
    display: flex;
    min-height: 90vh;
    width: 100%;

    &__left {
      display: none;
      background: $red;
      flex-grow: 1;

      @media (min-width: 1400px) {
        max-width: 260px;
        display: initial;
      }
    }

    &__right {
      flex-grow: 1;
      background: $red;

      @media (min-width: 1400px) {
        background: linear-gradient(to bottom right, $red 15%, $blue 45%, $blue 55%, $grey-1-6 85%);
      }
    }
  }

  #page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 1400px;
    height: max-content;
    margin: 0 auto;

    .logo {
      &,
      a {
        display: flex;
      }

      img {
        margin-top: $space-2-1;
        margin-bottom: $space-1-1;
        height: 80px;
      }
    }

    .main-wrapper {
      display: flex;
      height: 100%;

      main {
        flex-grow: 1;

        #content {
          min-height: 100vh;
          padding: $space-4-1 $space-5-1;
          background: black;
          color: white;
          border-radius: 4px;

          .intro {
            font-size: $font-size-3-1;

            p {
              margin-top: 0;
              margin-bottom: $space-2-1;
            }
          }

          .latest-creation {
            margin-top: $space-6-1;
          }
        }
      }

      nav {
        height: max-content;
        display: flex;
        flex-direction: column;
        margin-left: $space-2-1;
        // margin-right: $space-1

        a {
          color: white;
          margin-bottom: $space-6-1;

          .rotate-90 {
            writing-mode: vertical-lr;
            white-space: nowrap;
          }
        }
      }
    }

    footer {
      display: flex;
      margin: $space-1-1 0 $space-2-1 $space-1-1;
      color: white;
      align-items: center;

      .links {
        flex-grow: 1;

        a {
          color: white;
          margin-right: $space-3-1;
        }
      }
    }
  }
}